a {
    width: 46px;
    height: 44px;
    margin: 20px;
    display: inline-block;

}

.iconoHome {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaYwndkAGQjagB1Z-KMV3HcuEPCp6995CV7g&s');
}

.iconoBuscar {
    background: url('https://static.vecteezy.com/system/resources/thumbnails/002/960/590/small/abstract-watercolor-texture-wallpaper-background-free-vector.jpg');
}

.iconoConfiguracion {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-PN23AihFFGGWzULKUzXRLRTHw_MPDphQ4w&s');
}



/* Efecto */
.iconoHome:hover {
    color: red;
}

.iconoHome:active {
    color: #c51ae7;
}

.iconoBuscar:hover {
    color: red;
}

.iconoBuscar:active {
    color: #c51ae7;
}

.iconoConfiguracion:hover {
    color: red;
}

.iconoConfiguracion:active {
    color: #c51ae7;
}