@media screen and (min-width:320px) and (max-width:480px) {

    p,
    img {
        text-align: left;
    }
}



@media screen {
    p {
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
    }

    img {
        display: block;
        margin: auto;
    }

    a {
        display: block;
        text-align: center;
    }

}




























/* 
@media screen {
    .imagen {
        display: block;
        margin: auto;
    }
}

@media not screen {

    p,
    img {
        position: absolute, left;
    }
}


section p {
    font-style: italic, bold !important;
    font-size: 18px;
    text-align: justify;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

#override {
    color: blue;
}

h1 {
    color: inherit;
    font-size: 50px;
}

.enlace {
    text-align: center;
    display: block;
} */