/* Estilo general */
body {
    font-family: Arial, sans-serif;
    color: blue;
}

.herencia {
    font-family: 'Courier New', monospace;
    color: red;
}


/* Comportamiento */

.inherit {
    font-family: inherit;
    color: inherit;
    background-color: inherit;
}

.initial {
    font-family: initial;
    color: initial;
    background-color: initial;
}

.unset {
    font-family: unset;
    color: unset;
    background-color: unset;
}

.revert {
    font-family: revert;
    color: revert;
    background-color: revert;
}


/*

    1.  ¿Qué estilo toma el texto con inherit? ¿Por qué?
    Toma el estilo de  font-family y color.
    Hace que el valor de una propiedad de un elemento sea el mismo  que el valor de su elemento padre

    2. ¿Cómo se comporta el texto con initial? ¿Qué significa este valor?
    Su comportamiento se aplica al valor por defecto o base de la propiedad específica.
    Su estilo no se aplica al de su elemento padre y el texto esta por defecto

    3. ¿Qué sucede con unset? ¿Es diferente para propiedades heredables y no heredables?
    Significa "no establecida" y no hereda el valor del elemento padre

    4. ¿Cómo actúa revert en comparación con los otros valores?
    Actúa como inherit y initial, mientras mantiene el valor heredado y el valor inicial

    */