/* Estilos generales */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.gallery {
    /* Organiza las imágenes en una cuadrícula */
    display: grid;
    gap: 10px;
    padding: 10px;
}
/* Tamaña de imágenes */
.gallery img {  
    width: 100%;
    height: auto;
    /* Bordes */
    border-radius: 10px;
    border: 5px solid white;
}

/* Pantallas grandes (≥ 1024px) */
@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        /* Espacio */
        gap: 20px;
        max-width: 1200px;
    }

    .gallery img:nth-child(4) {
        grid-column: span 3;
    }
}

/* Pantallas medianas (768px – 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 800px;
    }

    .gallery img:nth-child(4) {
        /*La imagen ocupa dos columnas dentro de la cuadrícula */
        grid-column: span 2;
    }
}

/* Pantallas pequeñas (≤ 767px) */
@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 100px;
    }
}